.debug .jumbo {
    background-color: red;
    width: 200px;
    height: 200px;
}

.debug .star_ruler {
    width: 200px;
    height: 50px;
    background-color: aqua;
}

.debug .profession {
    width: 500px;
    height: 50px;
    background-color: blue;
}

[class^="col-"] {
    background-color: orange;
    border: 1px solid black;
}

.debug .download_btn {
    width: 100px;
    height: 30px;
    background-color: blueviolet;
}