/* color palette */
:root {
    --bg-primary: #1ABC9C;
    --bg-secondary: #2C3E50;
    --bg-secondarylight: #3A546D;
}

/* #region debug */
.debug .jumbo {
    background-color: red;
    width: 200px;
    height: 200px;
}

.debug .star_ruler {
    width: 200px;
    height: 50px;
    background-color: aqua;
}

.debug .profession {
    width: 500px;
    height: 50px;
    background-color: blue;
}

.debug [class^="col-"] {
    background-color: orange;
    border: 1px solid black;
}

.debug .download_btn {
    width: 100px;
    height: 30px;
    background-color: blueviolet;
}
/* #endregion debug */

header {
    background-color: var(--bg-secondarylight);
}

.back_secondary {
    background-color: var(--bg-secondary);
}

.back_green {
    background-color: var(--bg-primary);
}

.jumbo_avatar {
    width: 20%;
    margin: auto;
}

.starline {
    width: 10%;
    height: 3px;
    border-radius: 1rem;
    margin: 0 1rem;
}

.portfolio i {
    color: var(--bg-secondary);
}